.loanparent {
    margin: auto;
    max-width: 800px;
    padding: 45px;
}

.loangrid{
    margin: auto;
    border-radius: 2ch;
    background-color: #ecf1f1;
    box-shadow: 1px 1px 1px 1px #0430344d;
    max-width: 300px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}