.card {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    padding: 10px;


}
.cash {
    font-size: large;
    font-weight: bolder;
}