.login{
    padding: 70px;
    border: 1px solid black;
    width: fit-content;
    background-color: rebeccapurple;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 3;
    margin-top: 5;
    
  
}
input{
    padding: 7px;
    margin: 5px;
    border-radius: 1cm;
    border: 1px solid;
    width: max-content;
}