    .input{
    padding: 70px;
    border: 1px solid black;
    width: fit-content;
    background-color: transparent;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 3;
    margin-top: 5;
    }